ASPNETCORE_ENVIRONMENT=Development
AtlasLite__Database__Provider=Sqlite
AtlasLite__Database__ConnectionString=Data Source=atlas-lite.db
AtlasLite__Auth__Jwt__Issuer=Atlas.Lite
AtlasLite__Auth__Jwt__Audience=Atlas.Lite
AtlasLite__Auth__Jwt__Secret=replace-with-at-least-32-characters
AtlasLite__Cache__Provider=Memory
